/* reset */
* {
  margin: 0;
  padding-left: 0;
  box-sizing: border-box; }

.navbar {
  background-color: aliceblue;
  display: flex; }
  .navbar li {
    display: flex;
    font-size: 100%;
    list-style-type: none;
    text-decoration: none;
    font-weight: 100%; }
    .navbar li:hover {
      background-color: #ffdabf;
      color: #ff9a52; }
  .navbar ul {
    display: flex;
    font-size: 120%;
    list-style-type: none;
    text-decoration: none;
    font-weight: 100%; }
  .navbar li a {
    display: block;
    padding: 10px 10px; }
  .navbar .link {
    text-align: center; }
  .navbar a:link {
    text-decoration: none; }
  .navbar a:visited {
    text-decoration: none; }

.recetas {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 20px;
  color: black;
  margin: 20px;
  text-align: right center; }
  .recetas ul {
    display: flex;
    font-size: 100%;
    list-style-type: none;
    text-decoration: none; }
  .recetas li {
    display: flex;
    font-size: 100%;
    list-style-type: none;
    text-decoration: none; }

.preparacion {
  font-size: 20px;
  color: black;
  margin: 20px;
  text-align: right center;
  display: grid;
  grid-template-columns: auto auto;
  border-color: beige; }

/* columnas */
.caja {
  background-color: #ff9a52;
  width: 200px;
  height: 200px;
  border: 4px solid blanchedalmond;
  margin: auto;
  padding: 10px;
  color: aliceblue; }

.productos {
  width: 75%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: cornsilk;
  padding: 10px;
  border: 1px solid blanchedalmond;
  text-align: center;
  color: aliceblue;
  font-size: 20px; }

.historia {
  font-size: 20px;
  color: black;
  margin: 20px;
  text-align: right center; }

/* estilos del fondo */
body {
  background-color: #ffbf91; }

main {
  background-color: #ffbf91; }

header {
  background-color: #ff9a52; }

nav {
  background-color: #ffbf91; }

.pagina {
  background-color: #ffbf91; }

#carouselExampleControls {
  background-color: #ffbf91; }

/* archivos multimedia */
#imagen {
  background-image: url(../imagenes/Pan.jpg);
  height: 708px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.link {
  text-align: center;
  font-size: 125%; }

.videos {
  position: inherit;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  margin: 10px;
  max-width: 100%;
  max-height: 100%; }

form {
  height: 665px;
  background-image: url(../imagenes/empresa.jpg);
  background-repeat: no-repeat;
  background-size: 100rem;
  font-size: large; }

.contacto {
  list-style-type: none;
  display: inline-flex;
  float: left; }
  .contacto li,
  .contacto p {
    line-height: 1;
    font-size: 1.25rem;
    padding: 10px; }

.mapa {
  position: relative;
  top: 0;
  left: 20%;
  right: 80%;
  bottom: 0;
  margin: 0px;
  max-width: 100%;
  max-height: 100%; }

/* estilos de texto*/
h1 {
  background-color: cornsilk;
  margin: 15px;
  text-align: center;
  color: aliceblue;
  font-size: 200%; }
  h1:hover {
    background-color: #ff9a52;
    color: #f38630; }

.bg-footer {
  background-color: #ff9a52;
  text-align: center;
  display: flex; }

.derechos {
  text-align: center;
  background-color: #ff9a52;
  margin: 0px;
  font-size: 20px;
  display: flex; }

.datos {
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
  float: left; }
  .datos li,
  .datos ul {
    line-height: 1;
    padding: 10px; }

.imagenes {
  display: flex;
  display: inline-flex;
  padding: 20px;
  justify-content: space-evenly;
  align-items: center; }

#carouselExampleControls {
  background-color: #ffbf91;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center; }

.carousel-inner > .item > img {
  object-fit: scale-down;
  height: 50vh;
  width: 100%; }

@media (max-width: 480px) {
  .recetas {
    display: grid;
    grid-template-columns: auto auto;
    font-size: 20px;
    color: black;
    margin: 20px;
    text-align: right center; }
    .recetas ul {
      display: flex;
      font-size: 100%;
      list-style-type: none;
      text-decoration: none; }
    .recetas li {
      display: flex;
      font-size: 100%;
      list-style-type: none;
      text-decoration: none; } }

@media (max-width: 768px) {
  .recetas {
    display: grid;
    grid-template-columns: auto auto;
    font-size: 20px;
    color: black;
    margin: 20px;
    text-align: right center; }
    .recetas ul {
      display: flex;
      font-size: 100%;
      list-style-type: none;
      text-decoration: none; }
    .recetas li {
      display: flex;
      font-size: 100%;
      list-style-type: none;
      text-decoration: none; } }

@media (min-width: 1200px) {
  .recetas {
    display: grid;
    grid-template-columns: auto auto;
    font-size: 20px;
    color: black;
    margin: 20px;
    text-align: right center; }
    .recetas ul {
      display: flex;
      font-size: 100%;
      list-style-type: none;
      text-decoration: none; }
    .recetas li {
      display: flex;
      font-size: 100%;
      list-style-type: none;
      text-decoration: none; } }

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .mapa {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0px;
    max-width: 50%;
    max-height: 500%; } }

@media screen and (max-width: 780px) {
  .mapa {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0px;
    max-width: 50%;
    max-height: 50%; } }

@media screen and (max-width: 1200px) {
  .mapa {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0px;
    max-width: 75%;
    max-height: 75%; } }

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .link {
    text-align: center; } }

@media screen and (max-width: 780px) {
  .link {
    text-align: center; } }

@media screen and (max-width: 1200px) {
  .link {
    text-align: center; } }

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .caja {
    background-color: none;
    width: 100px;
    height: 100px;
    border: 4px solid blanchedalmond;
    margin: auto;
    padding: 10px;
    color: aliceblue; } }

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .productos {
    width: 50%;
    margin: 0 auto;
    display: flex;
    display: inline-block;
    background-color: cornsilk;
    padding: 10px;
    border: 1px solid blanchedalmond;
    text-align: center;
    color: aliceblue;
    font-size: 20px; } }

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .copyright {
    text-align: center;
    background-color: #ff9a52;
    margin: 0px;
    font-size: 10px; } }
