//estilos del footer

footer {
    text-align: center;
    background-color: antiquewhite;
    margin: 30px;
    font-size: 20px; 
    }

 
.informacion {
    display: flex;
   justify-content: space-evenly;
    align-items: center;
 }
 

 
