$color-principal: darksalmon;
$color-text: aliceblue;
$medida-mobile: 480px;
$medida-intermedia: 768px;
$medida-escritorio: 1200px;


$color1: #d3dbd9;
$color2: #a4bdbc;
$color3: #ffdabf;
$color4: #ffbf91;
$color5: #ff9a52;
$color6: #f38630;